body {
    margin: 0;
    padding: 0;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 44%, rgba(5, 98, 117, 1) 100%);
}

.logo {
    text-align: center;
    & img {
        height: 500px;
        width: 500px;
    }
}

.img {
    width: 215px;
    height: 136.75px;
    border: 2px solid black;
    background: rgb(10, 36, 0);
    background: linear-gradient(135deg, rgba(10, 36, 0, 1) 0%, rgba(0, 212, 255, 1) 0%, rgba(4, 4, 181, 1) 100%);
    padding-right: 10px;
    padding-left: 10px;
}

p {
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    &#texte {
        margin-top: 40px;
    }
}

nav {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px black;
    font-size: x-large;
    color: white;
    & ul {
        padding: 0;
        margin: 0;
        & li {
            display: inline;
            text-decoration: none;
            list-style-type: none;
            margin-left: 20px;
            padding-right: 50px;
            padding-left: 50px;
        }
        & a {
            text-decoration: none;
            color: white;
            &:visited {
                text-decoration: none;
                color: white;
            }
            &:hover {
                color: black;
                text-shadow: 0 0;
            }
        }
    }
}

.reseau {
    margin-top: 100px;
    width: 60px;
    height: 60px;
}