        body {
            margin-left: 0;
            margin-right: 0;
            background: rgb(246, 246, 246);
            background: radial-gradient(circle, rgba(246, 246, 246, 1) 0%, rgba(4, 4, 4, 1) 100%);
            font-family: 'Montserrat', sans-serif;
        }
        
        .container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 0px 0px;
            grid-template-areas: ". SITE ." ". SITE ." ". SITE .";
        }
        
        .SITE {
            grid-area: SITE;
        }
        
        .img {
            width: 143.33px;
            height: 78.1428px;
            transition: -webkit-transform .9s;
            transition: transform .9s;
            transition: transform .9s, -webkit-transform .9s;
            &:hover {
                transform: rotate(360deg);
            }
        }
        
        .header_img {
            width: 941.10px;
            height: 402.21px;
            border: 2px solid black;
        }
        
        nav {
            color: white;
            text-align: center;
            & li {
                display: inline;
                list-style-type: none;
            }
            & a {
                text-decoration: none;
                color: white;
                &:visited {
                    color: white;
                }
                &:hover {
                    color: white;
                    text-transform: uppercase;
                }
            }
        }
        
        h1 {
            text-align: center;
            color: rgb(245, 199, 233);
            text-shadow: 1px 1px black;
            font-size: medium;
        }
        
        p {
            text-shadow: 1px 1px black;
            color: white;
            font-size: smaller;
        }
        
        #pres {
            float: left;
            width: 305px;
            height: 205px;
            background-color: rgba(0, 0, 0, 0.452);
            border: 2px solid black;
            & p {
                margin: 0;
                margin-top: 5px;
                margin-left: 5px;
            }
        }
        
        #synopsis {
            float: right;
            margin-bottom: 5px;
            width: 630.1px;
            height: 205px;
            background-color: rgba(0, 0, 0, 0.452);
            border: 2px solid black;
            & p {
                margin: 0;
                margin-top: 5px;
                margin-left: 5px;
                margin-right: 5px;
            }
        }
        
        #perso {
            & table {
                background-color: rgba(0, 0, 0, 0.452);
                border: 2px solid black;
            }
            & table td {
                width: 100%;
                border: 1mm ridge rgba(0, 0, 0, 0.301);
                text-align: center;
                color: rgb(245, 199, 233);
                text-shadow: 1px 1px black;
                font-size: medium;
                font-weight: bolder;
            }
            & .imgperso {
                width: 160px;
                height: 196px;
            }
            & .nom {
                color: white;
            }
        }
        
        #note {
            margin-top: 5px;
            margin-bottom: 5px;
            width: 100%;
            height: 220px;
            background-color: rgba(0, 0, 0, 0.452);
            border: 2px solid black;
            text-align: left;
            & h1 {
                text-align: left;
            }
            & li {
                color: white;
                text-shadow: 1px 1px black;
                margin-right: 40px;
                list-style-type: none;
            }
            & #aprgauche {
                margin-top: 0px;
                float: left;
            }
            & #aprdroite {
                float: right;
                margin-top: 50px;
            }
            & #aprtitre {
                text-align: center;
            }
        }
        
        progress {
            -webkit-appearance: none;
        }
        
        progress::-moz-progress-bar {
            background: lightcolor;
        }
        
        progress::-webkit-progress-value {
            background: rgb(245, 199, 233);
        }
        
        progress::-webkit-progress-bar {
            background: gray;
        }
        
        #vente {
            margin-top: 5px;
            background-color: rgba(0, 0, 0, 0.452);
            border: 2px solid black;
            width: 100%;
            height: 400px;
            & h1 {
                font-size: x-large;
            }
            & ul {
                float: left;
                & li {
                    text-decoration: none;
                    list-style: none;
                    margin-top: 5px;
                    margin-bottom: 50px;
                    margin-left: 50px;
                    & p {
                        margin: 0;
                        margin-bottom: 2px;
                        text-align: center;
                        font-size: medium;
                        font-weight: bolder;
                    }
                    & img {
                        width: 80px;
                        height: 80px;
                        border: 2px solid black;
                    }
                }
            }
            & #video {
                margin-right: 40px;
                float: right;
                border: 2px solid black;
            }
        }
        
        #footer {
            margin-top: 5px;
            background-color: rgba(0, 0, 0, 0.452);
            border: 2px solid black;
            width: 100%;
            text-align: center;
            & ul {
                padding: 0;
                & h1 {
                    text-align: center;
                    margin-right: 170px;
                }
            }
            & li {
                margin-left: 5px;
                display: inline;
                & img {
                    height: 40px;
                    width: 40px;
                }
            }
        }
        
        .reseau {
            transition: -webkit-transform .9s;
            transition: transform .9s;
            transition: transform .9s, -webkit-transform .9s;
            &:hover {
                transform: translate(0, 75%);
            }
        }